/README.html

*.d
*.csv
*.hpp

/examples/basic_distributions/triangle
/examples/basic_distributions/wishart2

/examples/time-series/AR/AR1*
*.html
/joss_paper/paper/paper.pdf
/joss_paper/paper/paper.jats
